* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  * {
    border: 1px dashed black;
  }

  header {
    background-color: rgb(173, 216, 230);
  }

  .container {
    background-color: rgb(218, 165, 32);
  }

  .content.hero {
    background-color: rgb(0, 0, 139);
  }

  #jumbo {
    background-color: rgb(238, 130, 238);
  }

  .image {
    background-color: rgb(30, 144, 255);
  }

  .description {
    background-color: rgb(255, 192, 203);
  }

  .image-big {
    background-color: rgb(34, 139, 34);
  }

  .big-footer-box {
    background-color: rgb(240, 128, 128);
  }

  .small-footer-box {
    background-color: rgb(32, 178, 170);
  }

  .content#footer-bottom > .container {
    background-color: rgb(127, 255, 212);

    > * {
      background-color: rgb(255, 182, 193);
    }
  }
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 320px;
  font-size: large;
  max-width: 1280px;

  > * {
    height: 100%;
    align-content: center;
    padding: 0 10px;
  }
}

.container#navbar {
  height: 35px;
  margin: 0;
}

.container,
#jumbo,
.image-big {
  margin: 30px 0 30px;
}

#header_logo {
  text-align: left;
  width: 20%;
}

#header_link {
  text-align: center;
  width: 60%;
}

#header_login {
  text-align: right;
  width: 20%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#jumbo {
  width: 50%;
  height: 250px;
  max-width: 900px;
}

.white-bg {
  background-color: white;
}

.gray-bg {
  background-color: rgb(211, 211, 211);
}

.black-bg {
  background-color: rgb(35, 39, 42);
}

.image {
  width: 60%;
}

.description {
  width: 40%;
}

.container.image-big {
  height: 600px;
}

.content#footer {
  flex-direction: column;
}

hr {
  width: 100%;
  height: 2px;
  background-color: rgb(211, 211, 211);
}

.content#footer-top > .container {
  margin-top: 10px;
  height: 400px;
}

.big-footer-box {
  flex-grow: 2;
}

.small-footer-box {
  flex-grow: 1;
}

.content#footer-bottom {
  align-items: flex-end;
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: 60px;

    > * {
      height: fit-content;
    }
  }
}
