* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  * {
    border: 1px dashed black;
  }

  header {
    background-color: rgb(173, 216, 230);
  }

  .container {
    background-color: rgb(218, 165, 32);
  }
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 60%;
  font-size: large;

  > * {
    height: 100%;
    align-content: center;
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

#header_logo {
  text-align: left;
  width: 20%;
}

#header_link {
  text-align: center;
  width: 60%;
}

#header_login {
  text-align: right;
  width: 20%;
}
